@import "tailwindcss";

:root {
  --background: #ffffff;
  --first-text-color: #ffffff --foreground: #171717;
  --first: #045b94;
  --second: #f8fcfb;
  --thirth: #ff6f61;
}


@media (prefers-color-scheme: dark) {
  :root {
    --first-text-color: #ffffff --foreground: #171717;
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
  color: var(--first-text-color);
}